{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="flex">
        <a href="/mtools/axe"><button id="armors" name="armors"
        name="addForm"
        class="w-24 flex justify-center bg-slate-800 border-2 rounded-md py-1 m-1 border-textsecondary">
        Axe</button></a>
        <a href="/mtools/pickaxe"><button id="weapons" name="weapons"
        class="w-24 flex justify-center bg-slate-800 border-2 rounded-md py-1  m-1 border-textsecondary">
        Pickaxe</button></a>
    </div>
</div>

<div class="bg-slate-800 border-2 rounded-md p-2 mb-2 border-textsecondary lg:w-3/5 mx-auto self-center">
    <p>Tools need to be equipped and must be repaired every 100 hours.</p>
    <p>The table below shows the costs to equip and repair the tools.</p>
        {% include 'tabletools.html' %}
    </p>
</div>

{% endblock %}