<!doctype html>
<head>
    <title>{% block title %}Pagan Gods{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/pgico.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>

<body class="bg-bg-pattern text-sm text-center text-textprimary font-sansserif
bg-no-repeat bg-cover min-h-screen
">
    <div class="min-h-screen flex flex-col md:flex-row">
        <nav class="bg-bgprimary flex flex-col items-center
        pb-2
        md:text-left md:min-h-screen md:w-56">
            <div class="">
                <a href="{{ url_for('index') }}">
                <img class="mt-2 h-16" src="../static/images/pglogo.svg" alt="pagan gods logo"></a>
            </div>
            <div class="flex justify-evenly w-full mt-2 md:mt-0 md:flex-col md:justify-start md:ml-4">
                <div>
                    <p class="md:mt-2">COMBAT</p>
                    <ul class="text-textsecondary sm:ml-2">
                        {{ nav.navbar1.render() }}
                    </ul>
                </div>
                <div>
                    <p class="md:mt-4">MINING</p>
                    <ul class="text-textsecondary sm:ml-2">
                        {{ nav.navbar2.render() }}
                    </ul>
                </div>
                <div>
                    <p class="md:mt-4">OFFICIAL LINKS</p>
                    <ul class="text-textsecondary sm:ml-2">
                        {{ nav.navbar3.render() }}
                    </ul>
                </div>
            </div>
            <div class="flex w-full mx-auto justify-evenly mt-2 md:flex-col md:mt-4 md:ml-2 text-gray-500">
                <div><p>FUR: <span id="usdValue"></span></p></div>
                <div><p>FUR: <span id="brlValue"></span></p></div>
            </div>
        </nav>

        <div class="flex flex-col grow md:w-9/12 lg:w-10/12">
        <main class="p-2 flex-grow">
            {% block content %}{% endblock %}
        </main> 
        <footer class="py-2 text-gray-500">
            <p>Consider donating to maintain this project. FUR Inanomo Wallet:</p>
            <p>0x87d93dfcE1545b799458d4eA830014Ed732Af391</p>
            <p>Developed by: <a target="_blank"href="https://www.github.com/thigoap">thigoap</a></p>
        </footer>
    </div>

    </div>
</body>
<script>
    window.onload = start;
</script>
