<div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-1">
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-gray-700 text-gray-400">
    <tr>
        <th scope="col" class="p-1">
        Card Rarity
        </th>
        <th scope="col" class="p-1">
        Cost to Roll Ability
        </th>
    </tr>
    </thead>
     <tbody>
        <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Ordinary
        </th>
        <td class="p-1">
        30 fur + 3% in each new roll
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Unusual
        </th>
        <td class="p-1">
        400 fur + 3% in each new roll
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Rare
        </th>
        <td class="p-1">
        3000 fur + 3% in each new roll
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Epic
        </th>
        <td class="p-1">
        10000 fur + 3% in each new roll
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Legendary
        </th>
        <td class="p-1">
        20000 fur + 3% in each new roll
        </td>
    </tr>
    </tbody>
    </table>
    </div>