<div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-1">
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-gray-700 text-gray-400">
    <tr>
        <th scope="col" class="p-1">
        Resource
        </th>
        <th scope="col" class="p-1">
        Quantity
        </th>
    </tr>
    </thead>
     <tbody>
        <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Fur
        </th>
        <td class="p-1">
        {{ expensesdict.fur }}
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Exp
        </th>
        <td class="p-1">
        {{ expensesdict.exp }}
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Runes of Wisdom
        </th>
        <td class="p-1">
        {{ expensesdict.runes }}
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Wood
        </th>
        <td class="p-1">
        {{ expensesdict.wood }}
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Iron
        </th>
        <td class="p-1">
        {{ expensesdict.iron }}
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    