
<div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-1">
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-gray-700 text-gray-400">
    <tr>
        <th scope="col" class="p-1">
        Tool Rarity
        </th>
        <th scope="col" class="p-1">
        Cost to Equip
        </th>
        <th scope="col" class="p-1">
        Cost to Repair
        </th>
    </tr>
    </thead>
     <tbody>
        <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Ordinary
        </th>
        <td class="p-1">
        250 fur
        </td>
        <td class="p-1">
        50 fur + 600 wood + 600 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Unusual
        </th>
        <td class="p-1">
        3700 fur
        </td>
        <td class="p-1">
        200 fur + 10000 wood + 10000 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Rare
        </th>
        <td class="p-1">
        10500 fur
        </td>
        <td class="p-1">
        250 fur + 30000 wood + 30000 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Epic
        </th>
        <td class="p-1">
        66000 fur
        </td>
        <td class="p-1">
        500 fur 200000 wood + 200000 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Legendary
        </th>
        <td class="p-1">
        260000 fur
        </td>
        <td class="p-1">
        2000 fur + 750000 wood + 750000 iron
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    