<div class="relative overflow-x-auto shadow-md sm:rounded-sm mt-1">
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-gray-700 text-gray-400">
    <tr>
        <th scope="col" class="p-1">
        Equipment Rarity
        </th>
        <th scope="col" class="p-1">
        Cost to Equip
        </th>
        <th scope="col" class="p-1">
        Cost to Repair
        </th>
    </tr>
    </thead>
     <tbody>
        <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Ordinary
        </th>
        <td class="p-1">
        500 fur
        </td>
        <td class="p-1">
        3 fur + 60 wood + 60 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Unusual
        </th>
        <td class="p-1">
        2000 fur
        </td>
        <td class="p-1">
        15 fur + 300 wood + 300 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Rare
        </th>
        <td class="p-1">
        7000 fur
        </td>
        <td class="p-1">
        30 fur + 1 200 wood + 1 200 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Epic
        </th>
        <td class="p-1">
        10000 fur
        </td>
        <td class="p-1">
        60 fur 2 700 wood + 2 700 iron
        </td>
    </tr>
    <tr class="bg-white border-b bg-gray-800 border-gray-700">
        <th scope="row" class="p-1 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        Legendary
        </th>
        <td class="p-1">
        20000 fur
        </td>
        <td class="p-1">
        150 fur + 4 500 wood + 4 500 iron
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    