{% extends 'base.html' %}

{% block content %}
<div class="sm:w-4/5 mx-auto">
    {% for m_unit in m_units_list %}

        {% if loop.index0 == 0 %}    
        <div class="grid grid-cols-01 gap-x-2 gap-y-0.5 sm:gap-x-4">
        {% endif %}
        {% if loop.index0 > 0 and loop.previtem[1] != m_unit[1]  %}
        </div>
        <div class="grid grid-cols-01 gap-x-2 gap-y-0.5- sm:gap-x-4 mt-1">
        {% endif %}

        <div class="p-2 border-2 rounded-md my-1 border-textsecondary">
            <div class="flex justify-center">
                <img class="h-48" src="../static/images/kuzutiks/{{m_unit[3]}}.png" alt="m_unit {{m_unit[1]}}">
            </div>
            <p>{{ m_unit[1] }}</p>
            <p>Rarity: {{ m_unit[2] }}</p>
            <p>Mining Rate/h: {{ m_unit[4] }}/h</p>

        </div>

    {% endfor %}

</div>
{% endblock %}