{% extends 'base.html' %}

{% block content %}

<!-- <div class="mt-8">
    <p class="font-semibold text-lg">Build your team and verify its strength!</p>

    <form action=""  name="addForm" method="post">

        <div class="flex flex-col justify-center my-4">
            <div class="flex mx-auto">
                <select 
                class="w-40 bg-slate-800 rounded border-2 border-textsecondary p-1 mr-2" 
                name="warrior" id="warrior"
                hx-trigger="change" hx-get="/level" hx-target="#level"
                onchange="checkAddBtn()">
                    <option selected>Choose warrior</option>
                    {% for warrior in warriorslist %}
                    <option value='{{ warrior }}'>{{ warrior }}</option>
                    {% endfor %}
                </select>
                <select class="w-40 bg-slate-800 rounded border-2 border-textsecondary p-1"
                name="level" id="level">
                    <option selected>Choose level</option>
                </select>
            </div>

            <div class="flex mx-auto pt-2">
                <select 
                class="w-40 bg-slate-800 rounded border-2 border-textsecondary p-1 mr-2" 
                name="armor" id="armor">
                    <option selected>Choose armor</option>
                    {% for armor in armorslist %}
                    <option value='{{ armor }}'>{{ armor }}</option>
                    {% endfor %}

                </select>
                <select
                class="w-40 bg-slate-800 rounded border-2 border-textsecondary p-1"
                name="weapon" id="weapon">
                    <option selected>Choose weapon</option>
                    {% for weapon in weaponslist %}
                    <option value='{{ weapon }}'>{{ weapon }}</option>
                    {% endfor %}
                </select>
            </div>
            
        </div>
        {% if stopadd < 5 %}
        <button id="addBtn" type="submit" name="addForm"
                class="py-2 px-6 mb-4 font-bold text-slate-900 rounded-md
                bg-gradient-to-r from-btn01 to-btn02"
                disabled>
            ADD CARD
        </button>
        {% else %}
        <form action="" method="post">
            <div class="text-lg">
                <p>Your total Team Strength is {{ totalStrength }}.</p> 
                <div class="flex justify-center items-center py-1">
                    <p>Inform the maximum rating this team has won: </p>
                    <input type="number" min="300" max="10000" step="10" name="rating" id="rating"
                    class="w-24 bg-slate-800 rounded border-2 border-textsecondary p-1 ml-2"></input>
                    <button id="verifyBtn" type="submit" name="verifyForm"
                    class="text-sm py-2 px-6 ml-4 font-bold text-slate-900 rounded-md
                    bg-gradient-to-r from-btn01 to-btn02"
                    >
                        VERIFY
                    </button>
                </div>
            </div>
            <p class="text-lg">{{ strengthmsg }}</p>
        </form>
        {% endif %}        

    </form>

    <div class="flex flex-col mx-auto lg:w-fit lg:flex-row sm:justify-center">

        {% for warrior in warriors %}
        <div class="flex lg:flex-col mx-auto lg:mx-1 p-2 border-2 rounded-md my-1 border-sky-800">
            <div class="flex justify-center">
                <img class="h-48" src="./static/images/warriors/{{ warrior.slug }}.png" alt="warrior {{ warrior.warrior }}">
            </div>
            <div class="ml-2 lg:ml-0 self-center">
                <p class="font-semibold text-base">{{ warrior.warrior }}</p>
                <p>Level: {{ warrior.level }}</p>
                <p>Armor: {{ warrior.armor }}</p>
                <p>Weapon: {{ warrior.weapon }}</p> 
                <p>Strength: {{ warrior.strength }}</p>
                <a href="/delete/{{warrior.id}}" id="removeBtn"
                    type="submit"
                    name="removeForm"
                    class="py-2 mt-2 px-6 font-bold text-slate-900 rounded-md
                    bg-gradient-to-r from-btn01 to-btn02"
                    >
                    REMOVE
                </a>
            </div> 
        </div>
        {% endfor %}
        
    </div>
</div> -->
{% endblock %}